version: "3.8"

services:
  orbita-indexer:
    build: .
    container_name: orbita-indexer
    env_file: .env
    environment:
      - PORT=42070
    ports:
      - "42070:42070"
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      resources:
        limits:
          memory: 600M
        reservations:
          memory: 256M
